lib/
target/
.classpath
.project
grailsw
grailsw.bat
.idea/
.settings/
.slcache/
target-eclipse/
wrapper/
grails-app/assets/images
grails-app/i18n
web-app/WEB-INF/tld
grails-app/conf/DataSource.groovy
